div {
    margin: 20px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    background-color:rgb(110, 111, 111); /* Get The Background From Image */
    color: black;
  }
  .one {
    background-color:rgb(110, 111, 111,.1);
  }
  .two {
    opacity: .1;
  }